{% extends 'header.html' %}
{% block body %}

<form method="post" class="container  login border py-4 mt-3">
   <label for="email" class="mt-4">Email:</label><br/>
    <input type="email" name="email" placeholder="Johndoe123@gmail.com" required class="p-2 " />
<br>
<label for="password" class="mt-4 ">Password:</label>
<br/>
    <input type="password" name="password" placeholder="Password" required class="p-2" />
  <br>
  <div class="mt-4">

  <input type="radio" class="mt-4 "><span class="remember-me">Remember me</span>
  </div>
  <br>   
    <button type="submit" value="submit" class="btn btn-primary" class="mt-4">Submit</button>
</form>

{% endblock %}