{%extends 'header.html'%}
{% block body%}
<form method="post" class="mt-3 container">
    <label class="mb-3">Complain By:</label>
    <input class="py-2" type="text" disabled value="{{session.name}}"/>
    
    <br>
    <label class="mb-3">Complain Type:</label>
    <select name="complain_type_id" id="a">
        <option value="none" selected disabled>Select Complain type</option>
        {% for select in selects %}
        <option value="{{select.id}}">{{select.name}}</option>
        {% endfor %}
    </select>
    <br>
    <label class="mb-3">Complain description:</label>
    <textarea class="py-2" name="description" id="" cols="30" rows="10" ></textarea>
    <br>
    <label class="mb-3">Locatiton:</label>
    <input class="py-2" type="text" placeholder="City" name="city" />
    <input type="text" class="py-2" placeholder="street" name="street"/>
    <br>
    <label class="mb-3">Contact Number:</label>
    <input class="py-2" type="text" placeholder="+977" value="+977-" name="contact" />
    <br>
    <label class="mb-3">Date of event:</label>
    <input class="py-2" type="date" min="2022-01-01" name="date"/>
    <br>
    <button class="mb-3 btn btn-primary py-2" type="submit">Submit</button>
</form>
{%endblock%}