{% extends 'header.html' %}
{%block body%}
 <div class="container mt-4">
     <!-- <label for="caseNo">Case number:</label>
     <span>{{result.id}}</span><br>
        <label>Type:</label>
        {{result.name}} <br>
        <label>Description:</label>
        {{result.description}} <br>
        <label>Location</label>
        {{result.location}} <br>
        <label >By:</label>
        Mr/Mrs. {{result.first_name}} <br>
         -->
        <div class="update-case d-flex flex-row justify-content-between">
            <div class="mb-2">Case Number: <span class="opac">{{result.id}}</span></div>

            <div class="mb-2">Type: <span class="opac">{{result.name}}</span></div>
            <div class="mb-2">Location: <span class="opac">{{result.location}}</span></div>
            <div class="mb-2">By: <span class="opac">{{result.first_name}}</span></div>

        </div>            
        <div class="mb-2 mt-3">Description: <span class="opac">{{result.description}}</span></div>
        {% if session.is_admin_logged%}
        <form method="post" class="mt-3">
            <h3>Update case </h3>
            <hr>
            <label class="mt-3">Select case Type:</label>
            
            <select name="caseUpdate" id="caseUpdate" class="py-2">
                <option value="none" selected disabled>Select Casee Update</option>
                <option value="solved">Solved</option>

                <option value="investigating">Investigating</option>
                <option value="unsolved">Unsolved</option>
            </select>
            <br>
            <label for="Remarks" class="mt-3">Remarks</label>
            <textarea class="mt-2" name="remarks" id="remarks" cols="30" rows="10"></textarea>
            <br>
        <label class="mt-3">Date</label>
            <input type="date" name="date" class="py-2"/>
            <br>
            <button type="submit" class="btn btn-primary mt-4">Update Case</button>

        </form>
        {%endif%}
    </div>
{% endblock %}